body{
  /* background-color: #0a0509; */
}


nav{
  padding: 30px 50px;
  background-color: #984deb;
  height: auto;

}
nav > a{
  text-decoration: none;
  font-size: 24px;
  font-family: 'sans-serif';
  font-weight: 800;
  color: #f7f1fe;
}

.horizontalNav{
  float: inline-end;
  display: block;
  list-style: none;
  padding: 0;
  margin:0;

}
.horizontalNav li {
  float: right;
  padding: 0 10px;

  & > a {
    text-decoration: none;
    color: #f7f1fe;
  }
}




